body{
    background-color: #0e1321;
    font-family: 'poppins';
  }
  th{
    background-color: rgb(125, 236,228);
    color: #0e1321;
    font-size: 24px;
  }
 
  h1{
    color: aliceblue;
  }
table {
  font-weight: bold;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  text-align: left;
  padding: 8px;
}
	#cgpa{
		font-weight: bold;
		text-align: center;
	}
	.marks{
		width: 100%;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(125, 236,228);
    text-align: center;
    border-radius: 4px;
    border: none;
	}
	.table-data{
    color: aliceblue;
	}
	#calculate-button{
		width: 100%;
	}
  #unit1,#unit2,#unit3,#unit4,#unit5{
    text-align: center;
  }
  button{
    color: #0e1321;
    background-color: rgb(125, 236,228);
    cursor: pointer;
    margin: 4px 2px;
    padding: 6px 25px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
  }
  button:hover{
    background-color: #0e1321;
    color: aliceblue;
    border: 2px solid rgb(125, 236,228);
    padding: 4px 25px;
  }
  #headline1{
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border: none;
  }
  #headline5{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }